.modal-form-73u543 {
  width: 450px !important;
  height: 100%;
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 1000000;
  background: white;
  .modal-body {
  }
  .modal-footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 95%;
  }
}

.close {
  font-size: 2.2rem !important;
}
