.chat_list_64E464 {
  height: 82vh !important;
  // height: 800px !important;
}
.chatbox_GF5DR {
  padding: 25px;
  // height: 82vh !important;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  border-radius: 25px;
}

.top-chat-widgets_GYR57R4 {
  // height: 61vh !important;
}

// .mobile-chat {
//     display: none !important;
// }

// .laptop-chat {
//     // display: none;
// }

// @media(max-width: 480px) {
//     .mobile-chat {
//         display: block !important;
//     }
//     .laptop-chat {
//         display: none !important;
//     }
// }
