.prechat-info {
    padding: 25px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    height: 82vh !important;
    border-radius: 25px;
    .content {
        margin-top: 23vh;
    }
    i {
        font-size: 124px;
    }
}