.user_profile {
  text-align: center;
  img {
    border-radius: 50%;
    // opacity: 0.355;
    z-index: -1;
  }
  .camera_cont {
    background: white;
    box-shadow: 0 0 8px #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: -32px;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    svg {
      margin-left: -1px;
      margin-top: 8px;
      color: #5842f4;
    }
  }
}
