.__border {
  background-color: #fff;
  border-radius: 7.5px;
  box-shadow: 0 0 8px #ccc;
  padding: 25px;
  .inner-bordert {
    border: 1px solid #ccc;
    padding: 25px;
    // height: 550px !important;
    .content {
      margin-top: 25%;
    }
  }
  textarea {
    width: 100%;
    padding-top: 10px;
    padding-left: 12px;
    height: 345px;
    outline: none;
    border: 2px solid #888888;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
  }
}
